<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <style>
    @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
    *{
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif !important;
        box-sizing: border-box;
    }
    body {
      margin: 0;
      text-align: center;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eee;
    }
    #container {
      width: 50%;
      height: 70%;
      border-radius: 20px;
      background: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 50px 0;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }
    #container > h1 {
      font-weight: 900;
    }
    form {
      height: 40%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }
    input[type='text'],
    input[type='password'] {
      width: 60%;
      padding: 10px;
      outline: none;
      border: none;
      border-bottom: 1px solid rgb(60, 60, 60);
    }
    input[type='submit'] {
      width: 60%;
      padding: 15px;
      border-radius: 15px;
      outline: none;
      border: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.1em;
    }
    body > img {
      position: absolute;
      bottom: 0;
      width: 100vw;
      z-index: -1;
    }
    #query, #h, #flag {
      line-height: .3em;
      margin: 0;
    }
    #h, #flag {
      color: #ef0085;
    }
    #blind {
      width: 100vw;
      height: 100vh;
      background: black;
      position: absolute;
      top: 0;
      left: 0;
      transition: .3s ease;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: #fff;
      font-size: 2.2em;
      font-weight: bold;
    }
    #blind.active {
      z-index: 100;
      opacity: 1;
      visibility: visible;
    }
    #blind.no {
      z-index: -2;
      opacity: 0;
      visibility: hidden;
    }
    #blind img {
      width: 25%;
      -webkit-user-drag: none;
    }
  </style>
</head>
<body>
  <div id="blind" class="active">
    <img src="./stealth.png" alt="">
    <span>KDMHS HACKING DEFENCE</span>
  </div>
  <div id="container">
    <h1>디미고인 로그인</h1>
    <form action="/login" method="post" onsubmit="userCheck(event, this);">
      <input type="text" name="username" id="username" placeholder="아이디" autocomplete="off" aria-hidden="true">
      <input type="password" name="password" id="password" placeholder="비밀번호">
      <input type="submit" value="로그인">
    </form>
    <h2 id="query">SELECT * FROM users WHERE userid='<span id="i"></span>' AND password='<span id="p"></span>';</h2>
    <h2 id="h"></h2>
    <h2 id="flag"></h2>
  </div>
  <img src="./dimigo-background.svg" alt="">
  <script>
    const useridSpan = document.getElementById("i");
    const passwdSpan = document.getElementById("p");
    const flag = document.getElementById("flag");
    const h = document.getElementById("h");
    function userCheck(e, f) {
      e.preventDefault();

      useridSpan.innerHTML = f.username.value;
      passwdSpan.innerHTML = f.password.value;
      
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/login');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4 && xhr.status === 200) {
          const data = JSON.parse(xhr.responseText);
          if(data.flag) flag.innerHTML = data.flag;
          else flag.innerHTML = "";
          h.innerHTML = `Hello ${data.username} !!`;
          alert(data.msg);
        } else if (xhr.readyState === 4 && xhr.status === 400) {
          const data = JSON.parse(xhr.responseText);
          f.password.value = "";
          alert(data.msg);
        }
      }
      xhr.send(JSON.stringify({
        username: f.username.value,
        password: f.password.value
      }));
    }

    onkeypress = (e) => {
      if(e.key === '$') {
        const blind = document.getElementById("blind");
        blind.classList.remove("active");
        blind.classList.add("no");
      }
    }
  </script>
</body>
</html>